a {
  text-decoration: none;
  color: white;
}

header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-center-right {
  display: flex;
  align-items: center;
  gap: 6rem;
}

h3,
p {
  color: white;
}

p {
  padding: 0, 10px;
  font-size: 1rem;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.logo {
  width: 41px;
  height: 41px;
  border-radius: 36px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6rem;
  justify-content: center;
}

.nav-links li a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #9ddef7;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.appointment-btn {
  background-color: black;
  padding: 0.5rem 1.5rem;
  border: 2px solid white;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  font-size: 1rem;
}

.appointment-btn:hover {
  background-color: white;
  color: black;
}

.hover-container {
  position: relative;
}

.hover-link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hover-wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.hover-box {
  background: darkmagenta;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.hover-item a {
  display: block;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.hover-link-wrapper:hover .hover-wrapper {
  display: block;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
}
