a {
    text-decoration: none;
    color: white;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-center-right {
  display: flex;
  align-items: center;
  gap: 6rem; 
}

h3, p {
    color: white;
}

p {
    padding: 0, 10px;
    font-size: 1rem;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.logo {
    width: 41px;
    height: 41px;
    border-radius: 36px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
}

.nav-links li a {
    font-size: 1rem; 
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #9DDEF7;
} 

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.appointment-btn {
    background-color: black;
    padding: 0.5rem 1.5rem;
    border: 2px solid white;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 1rem;
}

.appointment-btn:hover {
    background-color: white;
    color: black;
}